<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="http://code.angularjs.org/1.2.6/angular.min.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
<!-- <script type="js/watchlist.js"></script> -->
    
<body ng-controller="WatchlistControl" class="container"  ng-app="Watchlist">

<h2>Movie Watchlist</h2>



 <!--ADD ITEM FORM-->
 <form name="myForm">

     <div>
         <input type="text"
                name="todoNameField"
                ng-model="todoName"
                placeholder="Add a movie"
                class="form-control"
                ng-keyup="$event.keyCode == 13 ? addItem() : return"
                style="margin-bottom: 10px"
                />

         <button ng-click="addItem()"
                         ng-hide="myForm.todoNameField.$invalid"
                         class="btn" type="button"
                         >Add to Watchlist</button>
     </div>

 </form>

<hr>


<!--TODO LIST-->
<div ng-repeat="movie in displayList(toWatch, !movie.completed)" class=" list-group-item row">

    <div  class="col-md-6">

        <span>{{movie.name}}</span>

        <small  class="text-warning"> </small>
    </div>
  
    <div  class="col-md-6">
        <!--Delete Todo button-->
        <a class="btn" ng-click="removeItem($index, movie, $event)">
            <i class="icon-remove-sign"></i>Delete
        </a>

        <a class="btn" ng-click="changeStatus(movie)">
            <i class="icon-remove-sign"></i>Watched?
        </a>
    </div>


</div>